/* Copyright © 2019 Assured Information Security, Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
*/

@import url("/usr/share/themes/Flat-Remix-Miami-Dark/gnome-shell/gnome-shell.css");

html, body {
    margin: 0;
    height: 100%;
}

p, h1, h2, h3 {
    user-select: none;
}

input, select {
    padding: 3px;
    border: 3px #bfbfbf;
    border-radius: 5px;
}

input:focus {
    outline: none !important;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #a6a6a6;
}

select:focus {
    outline: none !important;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #a6a6a6;
}

button, input, select, textarea {
    font-family: Cantarell, Sans-Serif;
    font-size: 100%;
}

.checkbox {
    padding: 2px;
    border-radius: 3px;
    border: 3px #bfbfbf;
}

.checkbox:focus {
    outline: none !important;
}

.app {
    font-family: Cantarell, Sans-Serif;
    font-size: 11pt;
    background-image: radial-gradient(#b0b0b0, #a8a8a8);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    height: 75%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#error {
    -webkit-animation: fadein .3s;
    animation: fadein .3s;
    color: red;
    display: none;
}

.error-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    height: 10%;
}

.submenu {
    background-image: radial-gradient(#b8b8b8, #dedede);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 4px #888888;
    height: 90%;
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.menu-content {
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-animation: fadein .3s;
    animation: fadein .3s;
    width: 95%;
}

.inline-menu {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.submenu-title {
    margin-top: 0;
    margin-bottom: 2px;
}

.horizontal-menu {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigator {
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    color: #fff;
    background-color: #5e5e5e;
    box-shadow: 3px 3px 3px #a6a6a6;
}

.button:focus {
    color: #fff;
    background-color: #5e5e5e;
    outline: none !important;
    box-shadow: 3px 3px 3px #a6a6a6;
}

.button.noselect {
    user-select: none;
}

.button:hover {
    background-color: #454545;
}

#welcomeTitle {
    pointer-events: none;
    user-select: none;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #5e5e5e;
    border-color: #5e5e5e transparent #5e5e5e transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
